<%# <div class="container">
  <h1>These are your personal cocktails</h1>
  <ul>
    <% @cocktails.each do |cocktail| %>
      <%# <li><%= link_to cocktail.name, cocktail_path(cocktail)</li> %>
    <%# <%end %>
  <%# </ul> %>

  <%# <%= link_to "add a new cocktail", new_cocktail_path %>

<%# </div> %>
<div class="container">
  <h1>These are your personal cocktails</h1>
    <% @cocktails.each do |cocktail| %>

      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= link_to cocktail.name, cocktail_path(cocktail)%></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">See the details</a>
        </div>
      </div>
    <%end %>

  <%= link_to "add a new cocktail", new_cocktail_path %>

</div>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
